.box{
  height:100vh !important;
  width:100vw !important;
}

.org-chart {
  display: flex !important; 
  flex-wrap: wrap !important;
  justify-content: center !important;
  background-color:rgb(29, 112, 184) /*this your primary color*/ !important;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important; */
}

.org-chart h2 {
  color: black;
}

.card {
  text-align: center !important;
  width: 400px !important;
  height: 550px !important;
  margin: 20px !important;
  background-color:rgb(255, 255, 255) !important;
  border-radius: 3% !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
  display: flex; /* added */
  justify-content: center; /* added */
  align-items: center; /* added */
}
.circle {
  border-radius: 50% !important;
  width: 150px !important;
  height: 150px !important;
  overflow: hidden !important;
  margin: 0 auto !important;
  background-color: rgb(214, 214, 214) !important;
  margin-top: 1em !important;
}

.circle img {
  object-fit: cover !important;
  width: 150px !important;
  height: 150px !important;
}

h2 {
  display: inline-block ;
  font-size: 1.3em !important;
  margin: 1em !important;  
}

h3 {
  display: inline-block !important;
  font-size: 1em !important;
  margin: 1em !important;
}

.pie-chart {
  width: 150px !important;
  height: 150px !important;
}


